---
import { getEntry } from 'astro:content'
import Toc from '~/components/toc/Toc.astro'
import Categorizer from '~/components/base/Categorizer.astro'
import GroupItem from '~/components/views/GroupItem.astro'
import { FEATURES, UI } from '~/config'

interface Props {
  pageToc: boolean
}

const { pageToc } = Astro.props

const entry = await getEntry('projects', 'data')
const { projects } = entry.data

const { toc } = FEATURES
const tocEnabled = Array.isArray(toc) && toc[0] && pageToc

const { showGroupItemColorOnHover } = UI.groupView
---

{
  tocEnabled && (
    <Toc
      category={Object.keys(projects)}
      style={toc[1].displayPosition === 'right' ? 'text-align:end' : ''}
    />
  )
}
{
  Object.keys(projects).map((key, idx) => (
    <div class="slide-enter" style={{ '--enter-stage': idx }}>
      <Categorizer text={key} needId={tocEnabled} wide={true} />
      <GroupItem items={projects[key]} />
    </div>
  ))
}

{showGroupItemColorOnHover && (
  <style>
    .link:hover .icon {
      filter: saturate(1);
    }
  </style>
)}
