---
import { getCollection } from 'astro:content'

import BaseLayout from '~/layouts/BaseLayout.astro'
import TabbedLayout from '~/layouts/TabbedLayout.astro'
import Categorizer from '~/components/Categorizer.astro'
import PostItem from '~/components/PostItem.astro'

import config from '~/config'
import { isSameYear, getYear } from '~/utils'
import { items } from '~/types'

const { title, description, bgType } = config.pages.blog

const posts = await getCollection('blog')

const sortedPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<BaseLayout {title} {description} {bgType}>
  <TabbedLayout {items}>
    <ul>
      {
        sortedPosts.length === 0 ? (
          <div class="py-2 op-50">nothing here yet</div>
        ) : (
          sortedPosts.map((post, idx) => (
            <>
              {!isSameYear(post.data.date, sortedPosts[idx - 1]?.data.date) && (
                <Categorizer {idx} text={getYear(post.data.date).toString()} />
              )}
              <PostItem collection={'blog'} {idx} {post} />
            </>
          ))
        )
      }
    </ul>
  </TabbedLayout>
</BaseLayout>
