---
import Link from '~/components/base/Link.astro'
import type { ShareConfig } from '~/types'

interface Props {
  config: ShareConfig
}

const { config } = Astro.props
const postUrl = Astro.url

const twitter = 'https://twitter.com/intent/tweet?text='
const elk = 'https://elk.zone/intent/post?text='
const telegram = 'https://t.me/share/url?url='
const whatsapp = 'https://wa.me/?text='
const facebook = 'https://www.facebook.com/sharer.php?u='
const pinterest = 'https://pinterest.com/pin/create/button/?url='

const twitterUrl =
  config.twitter &&
  `${twitter}${encodeURIComponent(`Reading ${config.twitter[1] && `${config.twitter[1]}'s`} ${postUrl}\n\nI think...`)}`
const elkUrl =
  config.mastodon &&
  `${elk}${encodeURIComponent(`Reading ${config.mastodon[1] && `${config.mastodon[1]}'s`} ${postUrl}\n\nI think...`)}`
const telegramUrl = config.telegram && `${telegram}${postUrl}`
const whatsappUrl = config.whatsapp && `${whatsapp}${postUrl}`
const facebookUrl = config.facebook && `${facebook}${postUrl}`
const pinterestUrl = config.pinterest && `${pinterest}${postUrl}`

const links = [
  { url: twitterUrl, label: 'twitter' },
  { url: elkUrl, label: 'mastodon' },
  { url: telegramUrl, label: 'telegram' },
  { url: whatsappUrl, label: 'whatsapp' },
  { url: facebookUrl, label: 'facebook' },
  { url: pinterestUrl, label: 'pinterest' },
]
const filteredLinks = links.filter(
  (link): link is { url: string; label: string } => typeof link.url === 'string'
)
---

<span class="op-50 font-mono">&gt; </span>
<span class="op-50">share on</span>
{
  filteredLinks.map((link, index) => (
    <>
      <Link class="link" href={link.url} external={true}>
        {link.label}
      </Link>
      {index < filteredLinks.length - 1 && <span class="op-25">/</span>}
    </>
  ))
}

<style>
  .link {
    --uno: 'op-50';
  }
</style>
