---

---

<button
  id="theme-switch"
  class="op-60 hover:op-100 op-transition"
  title="Toggle theme"
  role="switch"
  aria-label="Dark mode"
  aria-checked="false"
>
  <div u-i-ri-sun-line u-dark:i-ri-moon-line></div>
</button>

<script>
  // related to #45
  const chooseFill = (): FillMode => {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const uach = (navigator as any).userAgentData

    if (uach?.brands?.length) {
      const brands: { brand: string; version: string }[] = uach.brands
      const isChromiumBrand = brands.some((b) => /Chrom(e|ium)/i.test(b.brand))
      if (isChromiumBrand) return 'both'
      return 'none'
    }

    return 'none'
  }
  const fill = chooseFill()

  const changeGiscusTheme = (isDark: boolean) => {
    const newTheme = isDark
      ? `${location.origin}/giscus/dark.css`
      : `${location.origin}/giscus/light.css`

    const giscusScript = document.getElementById('giscus-script')
    if (giscusScript) {
      giscusScript.setAttribute('data-theme', newTheme)
      const iframe = document.querySelector('iframe.giscus-frame')
      if (
        iframe &&
        iframe instanceof HTMLIFrameElement &&
        iframe.contentWindow
      ) {
        iframe.contentWindow.postMessage(
          { giscus: { setConfig: { theme: newTheme } } },
          'https://giscus.app'
        )
      }
    }
  }

  const updateAria = (isDark: boolean, buttonElement: HTMLElement | null) => {
    buttonElement?.setAttribute('aria-checked', isDark ? 'true' : 'false')
  }

  const setColorScheme = (isDark: boolean) => {
    const colorScheme = document.querySelector("meta[name='color-scheme']")
    colorScheme?.setAttribute('content', isDark ? 'dark light' : 'light dark')
  }

  const setThemeColor = () => {
    const themeColor = document.querySelector("meta[name='theme-color']")
    const bgColor = getComputedStyle(document.body).getPropertyValue('--c-bg')
    themeColor?.setAttribute('content', bgColor)
  }

  const saveTheme = (isDark: boolean) => {
    window.localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  const getThemeSwitchButton = () => {
    return document.getElementById('theme-switch')
  }

  const syncTheme = (
    isDark: boolean,
    buttonElement = getThemeSwitchButton()
  ) => {
    document.documentElement.classList.toggle('dark', isDark)
    changeGiscusTheme(isDark)
    updateAria(isDark, buttonElement)
    setColorScheme(isDark)
    setThemeColor()
    saveTheme(isDark)
  }

  /* Listening system changes */
  window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', ({ matches }) => {
      syncTheme(matches)
    })

  /* Handle user toggle button */
  document.addEventListener('astro:page-load', () => {
    const handleToggle = (event: MouseEvent) => {
      const currentTarget = event.currentTarget
      if (!(currentTarget instanceof HTMLElement)) return

      const toggle = () => {
        isDark = !document.documentElement.classList.contains('dark')
        syncTheme(isDark, currentTarget)
      }

      const isAppearanceTransition =
        // @ts-expect-error (View Transitions API)
        document.startViewTransition &&
        !window.matchMedia('(prefers-reduced-motion: reduce)').matches

      if (!isAppearanceTransition) {
        toggle()
        return
      }

      const x = event.clientX
      const y = event.clientY
      const endRadius = Math.hypot(
        Math.max(x, innerWidth - x),
        Math.max(y, innerHeight - y)
      )

      const transition = document.startViewTransition(() => toggle())

      transition.ready.then(() => {
        const clipPath = [
          `circle(0px at ${x}px ${y}px)`,
          `circle(${endRadius}px at ${x}px ${y}px)`,
        ]

        document.documentElement.animate(
          {
            clipPath: isDark ? clipPath.reverse() : clipPath,
          },
          {
            duration: 400,
            easing: 'ease-out',
            fill,
            pseudoElement: isDark
              ? '::view-transition-old(root)'
              : '::view-transition-new(root)',
          }
        )
      })
    }

    const toggleThemeButton = getThemeSwitchButton()
    let isDark = document.documentElement.classList.contains('dark')
    updateAria(isDark, toggleThemeButton)
    toggleThemeButton?.addEventListener('click', handleToggle)
  })
</script>
