---
import { formatDate } from '~/utils/datetime'
import { UI } from '~/config'

interface Props {
  pubDate: string
  lastModDate: string | undefined
  minutesRead: number
  tags: string[]
}

const { pubDate, lastModDate, minutesRead, tags } = Astro.props

const isMinimal = UI.postView.postMetaStyle === 'minimal'
---

{
  isMinimal ? (
    <div class="mt--6! op-50 lt-md:text-sm">
      <time datetime={pubDate}>{formatDate(pubDate)}</time>
      {lastModDate && (
        <time datetime={lastModDate}> · Updated {formatDate(lastModDate)}</time>
      )}
      {minutesRead > 0 && <span> · {minutesRead} min</span>}
      {tags.length > 0 && <span> · {tags.join(' / ')}</span>}
    </div>
  ) : (
    <div
      class="flex justify-start items-center gap-x-4 gap-y-1 flex-wrap
          mt--6! lt-md:text-sm op-50"
    >
      <div>
        <span class="i-ri-calendar-line mr-1.2" />
        <time datetime={pubDate}>{formatDate(pubDate)}</time>
      </div>
      {lastModDate && (
        <div>
          <span class="i-ri-history-fill mr-1.2" />
          <time datetime={lastModDate}>{formatDate(lastModDate)}</time>
        </div>
      )}
      <div>
        <span class="i-ri-timer-line mr-1.2 ml--0.6" />
        {minutesRead > 0 && <span>{minutesRead} min read</span>}
      </div>
      {tags.length > 0 && (
        <div>
          <span class="i-ri-hashtag mr-1.2" />
          {tags.join(' / ')}
        </div>
      )}
    </div>
  )
}
