---
import Link from '~/components/base/Link.astro'
import { LAYOUTS } from '~/config'
import type { ProjectSchema } from '~/content/schema'

interface Props {
  items: ProjectSchema[]
}

const { items } = Astro.props
const { groupItemCols } = LAYOUTS
---

<div
  u-grid="~ lt-lg:cols-2 lt-sm:cols-1 gap-4"
  class:list={[
    'group-item',
    {
      'grid-cols-2': groupItemCols === 2,
      'grid-cols-3': groupItemCols === 3,
    },
  ]}
>
  {
    items.map((item, _) => (
      <Link
        class="link relative flex items-center"
        href={item.link}
        title={item.name}
        external={true}
      >
        <div class="pt-2 pr-5">
          <div class={`icon ${item.icon}`} />
        </div>
        <div class="flex-auto">
          <div>{item.name}</div>
          <div class="op-50 text-sm font-normal">{item.desc}</div>
        </div>
      </Link>
    ))
  }
</div>

<style>
  .group-item {
    --uno: 'w-max max-w-500 py-8 mx-auto';
  }

  .icon {
    opacity: 0.5;
    line-height: 2.25rem;
    font-size: 1.875rem;
    filter: saturate(0);
  }

  /* .link:hover .icon {
    filter: saturate(1);
  } */

  .link {
    width: 350px;
    max-width: 100%;
    padding: 0.5rem 0.875rem 0.875rem;
    border-radius: 6px;
    background: transparent;
    font-size: 1.1rem;
    transition: opacity 0.2s ease;
  }

  .link:hover {
    background: #88888811;
  }
</style>
