---
import { ViewTransitions } from 'astro:transitions'
import config from '~/config'

interface Props {
  title: string
  description: string
  ogImage?: string
}

const { title, description, ogImage } = Astro.props

const titleSeparator = '-'
const siteTitle = title
  ? `${title} ${titleSeparator} ${config.site.name}`
  : config.site.name

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const ogImageURL = new URL(ogImage ?? '/og-images/og-image.jpg', Astro.url).href
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content={config.site.author} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Icon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- <meta name="msapplication-TileColor" content="#ffffff" /> -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageURL} />

<!-- Font preloads -->

<ViewTransitions />
