---
import { ViewTransitions } from 'astro:transitions'
import { basename } from 'node:path'
import { checkFileExistsInDir } from '../../plugins/remark-generate-og-image'
import { SITE } from '~/config'

interface Props {
  title: string
  description?: string
  ogImage?: string
}

const { title, description, ogImage } = Astro.props

const titleSeparator = '-'
const pageTitle = title
  ? `${title} ${titleSeparator} ${SITE.title}`
  : SITE.title

const pageDescription = description || SITE.description

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const generatedOgImage = checkFileExistsInDir(
  'public/og-images',
  `${basename(Astro.url.pathname)}.png`
)
  ? `/og-images/${basename(Astro.url.pathname)}.png`
  : undefined
const ogImageURL = new URL(
  (ogImage ?? generatedOgImage) || '/og-images/og-image.png',
  Astro.url
).href
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />
<meta name="author" content={SITE.author} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Icon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- <meta name="msapplication-TileColor" content="#ffffff" /> -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={ogImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={pageDescription} />
<meta property="twitter:image" content={ogImageURL} />

<!-- Font preloads -->

<ViewTransitions />
