---
import Link from '~/components/base/Link.astro'
import LogoButton from '~/components/widgets/LogoButton.astro'
import ToTopButton from '~/components/widgets/ToTopButton.astro'
import ThemeSwitch from '~/components/widgets/ThemeSwitch.astro'
import SearchSwitch from '~/components/widgets/SearchSwitch.astro'

import { SITE, SOCIALS } from '~/config'
import { ensureTrailingSlash } from '~/utils'
---

<header class="z-40">
  <ToTopButton />
  <LogoButton />
  <nav class="nav flex items-center justify-end w-full p-8 lt-md:px-6">
    <div class="right grid grid-auto-flow-col gap-[1.2rem] print:op-0">
      {
        SITE.navBar.map((item) => (
          <Link
            href={ensureTrailingSlash(item.path)}
            title={item.prompt}
            class="op-transition"
          >
            {item.type === 'rwd' && (
              <>
                <span class="lt-md:hidden">{item.text}</span>
                <div class={`md:hidden ${item.icon}`} />
              </>
            )}
            {item.type === 'icon' && <div class={item.icon} />}
            {item.type === 'text' && <span>{item.text}</span>}
          </Link>
        ))
      }
      {
        SOCIALS.map((item) => {
          return (
            <Link
              href={item.href}
              title={item.title}
              external={true}
              class={`${item.rwd ? 'lt-md:hidden' : ''} op-transition`}
            >
              <div class={`${item.icon}`} />
            </Link>
          )
        })
      }
      <SearchSwitch />
      <ThemeSwitch />
      <Link title="RSS" href="/rss.xml" external={true} class="lt-md:hidden">
        <div class="i-ri-rss-line"></div>
      </Link>
    </div>
  </nav>
</header>
