---
import Link from '~/components/base/Link.astro'
import LogoButton from '~/components/widgets/LogoButton.astro'
import ToTopButton from '~/components/widgets/ToTopButton.astro'
import ThemeSwitch from '~/components/widgets/ThemeSwitch.astro'
import SearchSwitch from '~/components/widgets/SearchSwitch.astro'

import { SITE, SOCIALS } from '~/config'
import { ensureTrailingSlash } from '~/utils'
---

<header class="z-40">
  <LogoButton />
  <ToTopButton />
  <nav class="nav">
    <div class="spacer"></div>
    <div class="right print:op-0">
      {
        SITE.navBar.map((item) => (
          <Link
            class="link"
            href={ensureTrailingSlash(item.path)}
            title={item.prompt}
          >
            {item.type === 'rwd' && (
              <>
                <span class="lt-md:hidden">{item.text}</span>
                <div class={`md:hidden ${item.icon}`} />
              </>
            )}
            {item.type === 'icon' && <div class={item.icon} />}
            {item.type === 'text' && <span>{item.text}</span>}
          </Link>
        ))
      }
      {
        SOCIALS.map((item) => {
          return (
            <Link
              title={item.title}
              href={item.href}
              external={true}
              class={item.rwd ? 'lt-md:hidden' : ''}
            >
              <div class={`${item.icon}`} />
            </Link>
          )
        })
      }
      <!-- <a href="/feed.xml" target="_blank" title="RSS" class="lt-md:hidden">
        <div i-la-rss-square style="font-size:1.25rem; margin: 0 -0.125rem;">
        </div>
      </a> -->
      <SearchSwitch />
      <ThemeSwitch />
    </div>
  </nav>
</header>

<style>
  .nav {
    display: grid;
    grid-template-columns: auto max-content;

    width: 100%;
    padding: 2rem;
  }

  .nav > * {
    margin: auto;
  }

  .nav .right {
    display: grid;
    gap: 1.2rem;
    grid-auto-flow: column;
  }

  .nav .right > * {
    margin: auto;
  }

  .link {
    transition: opacity 0.2s ease;
  }
</style>
