---
import { getEntry } from 'astro:content'

import BaseLayout from '~/layouts/BaseLayout.astro'
import WideLayout from '~/layouts/WideLayout.astro'
import Toc from '~/components/toc/Toc.astro'
import Categorizer from '~/components/Categorizer.astro'
import ProjectGroup from '~/components/ProjectGroup.astro'
import { PAGES, FEATURES } from '~/config'

const { title, description, bgType } = PAGES.projects
const { toc } = FEATURES

const entry = await getEntry('projects', 'data')
const { data: frontmatter } = entry
---

<BaseLayout {title} {description} {bgType}>
  <WideLayout {entry}>
    {
      Array.isArray(toc) && toc[0] && frontmatter.toc && (
        <Toc
          category={Object.keys(frontmatter.projects)}
          style={toc[1].position === 'right' ? 'text-align:end' : ''}
        />
      )
    }
    {
      Object.keys(frontmatter.projects).map((key, idx) => (
        <div class="slide-enter" style={{ '--enter-stage': idx + 1 }}>
          <Categorizer text={key} {idx} needId={true} wide={true} />
          <ProjectGroup items={frontmatter.projects[key]} />
        </div>
      ))
    }
  </WideLayout>
</BaseLayout>
